:root {
  --header-height: 3em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
img {
  /* Temporary */
  width: 100px;
}
/* Header and Nav Bar */
header {
  position: fixed;
  width: 100vw;
  height: var(--header-height);
  display: flex;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  height: var(--header-height);
  display: flex;
}
#hamburger-menu-toggle {
  z-index: 1;
  background: none;
  border: none;
  font-size: 2em;
}
#planet-links {
  /* Position and display as a kinda modal */
  position: fixed;
  width: 100vw;
  height: 100svh;
  top: 0;
  left: 0;
  border: solid 1px blue;
}
